* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #EEEEEE;
    border-bottom: 1px solid #EEEEEE;
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #FFFFFF;
    background: #0f83c6;
}

header {
    padding: 20px 0;
    border-bottom: #1f80b6;
}

.title {
    font-size:  22px;
    padding: 0 20px;
}

.title a {
    color: #FFFFFF;
}

.title:hover {
    color: #000000;
}

main {
    padding: 20px;
}

h1 {
    font-size: 20px;
    padding-bottom: 20px;
}

p {
    font-size: 16px;
}

footer {
    padding: 20px 20px;
}

.copyright {
    font-size: 14px;
}
